{% block title %}
    Редактирование группы пользователей «{{ group.getName() }}»
{% endblock %}

{% extends "Admin/base.html" %}

{% block headers %}
<!-- nothing to write to headers -->
{% endblock %}

{% block content %}
<div class="page-inner">
    <div class="page-title">

    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Редактирование группы пользователей</h4>
                        <div class="panel-control">
                            <button type="link" data-href="/admin/settings/userGroups/all" class="btn btn-default btn-addon m-b-sm btn-sm"><i class="fa fa-chevron-left"></i> Все</button>
                        </div>
                    </div>
                    <div class="panel-body">

                        <form class="form-horizontal" id="editGroup">
                            <input type="hidden" id="groupId" value="{{ group.getId() }}"/>


                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">Имя:</label>
                                <div class="col-sm-10">
                                    <input type="text" value="{{ group.getName() }}" class="form-control" name="name" id="name" placeholder="Имя" >
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="altName" class="col-sm-2 control-label">Альтернативное имя:</label>
                                <div class="col-sm-10">
                                    <input type="text" value="{{ group.getAltName() }}" class="form-control" name="altName" id="altName" placeholder="Альтернативная имя" >
                                </div>
                            </div>




                            <br/>
                            {% for privilege in privileges %}
                                <div class="form-group">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="checkbox" name="privileges[]" id="privilege-{{ privilege.getId() }}" value="{{ privilege.getId() }}" {% if privilege.getId() in selectedPrivileges %} checked{% endif %}> <label for="privilege-{{ privilege.getId() }}">{{ privilege.getName() }}</label>
                                    </div>
                                </div>
                            {% endfor %}

                            <button type="submit" class="btn btn-primary">Сохранить</button>
                            <button type="button" class="btn btn-danger" id="deleteGroupModalFocus" data-toggle="modal" data-target="#deleteGroupModal">Удалить</button>
                        </form>



                        <!-- Modal -->
                        <div class="modal fade" id="deleteGroupModal" tabindex="-1" role="dialog" aria-labelledby="deleteGroupModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="deleteGroupModalLabel">Удаление</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <p>
                                                После проведенного действия назад невозможно возвратиться!
                                            </p>
                                        </div>

                                        <div class="form-group">
                                            <label for="newRole" class="col-sm-2 control-label">Группа</label>
                                            <div class="col-sm-10">
                                                <select name="newRole" id="newRole" class="form-control m-b-sm">
                                                    {% for group_ in groups %}
                                                        <option value="{{ group_.getId() }}" {% if group_.getId() == -1 %} selected {% endif %} {% if group_.getId() == group.getId() %} disabled {% endif %}>{{ group_.getName() }} ({{ group_.getAltName() }})</option>
                                                    {% endfor %}
                                                </select>
                                                <p class="help-block">Группа пользователей будет изменена только в том случае, если данный документ подлежит данной возможности</p>
                                            </div>
                                        </div>
                                    </div>
                                    <form>
                                        <div class="modal-footer">
                                            <button type="button" id="cancelDeleteGroup"class="btn btn-default" data-dismiss="modal">Отменить</button>
                                            <button type="button" id="confirmDeleteGroup" userid="none" class="btn btn-danger">Удалить</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include("Admin/copyrightFooter.html") }}
</div>
{% endblock %}


{% block endBodies %}
    <script src="/static/admin/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <link href="/static/admin/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css"/>


    <style>
        th.normal_font {
            font-weight: normal;
            padding-left: 10px;
        }
        i.silver {
            color: #bfbcbc;
            font-size: 11px;
        }
        .select2-results__option--highlighted table tr th i.silver {
            color: #fff;
        }
        .customsize {
            min-height: 36px;
        }
        .select2-search__field {
            width: 100%!important;
        }
        #toast-container > div:hover{
            opacity: 1;
            box-shadow: 0px 0px 14px 0px #000;
            cursor: pointer;
        }
    </style>
    <script src="/static/admin/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="/static/admin/assets/plugins/summernote/summernote.min.js"></script>
    <script src="/static/admin/assets/js/pages/form-elements.js"></script>

    <link href="/static/admin/assets/plugins/slidepushmenus/css/component.css" rel="stylesheet" type="text/css"/>
    <link href="/static/admin/assets/plugins/summernote/summernote.css" rel="stylesheet" type="text/css"/>
    <link href="/static/admin/assets/plugins/bootstrap-colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css"/>
    <!--<script src="/static/admin/assets/js/pages/form-select2.js"></script>-->
    <script src="/static/admin/assets/plugins/select2/js/select2.js"></script>
    <link href="/static/admin/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
    <script src="/static/admin/assets/js/pages/notifications.js"></script>

    <script type="text/javascript">

        //needs to fix bug
        var all_ = true;
        // end
        $(document).ready(function() {

            $('#editGroup').on('submit', function(){
                var groupId = $('#groupId').val();
                var name = $('input[name=name]').val();
                var altName = $('input[name=altName]').val();

                var privileges = [];
                $('input[name="privileges[]"]').each(function( index ) {
                    if ($(this).is(":checked")){
                      privileges.push($(this).val());
                    }
                });

                postAjaxRequest('/admin/ajax/userGroup/edit',
                        {
                            id: groupId,
                            name: name,
                            altName: altName,
                            privileges: privileges
                        }
                );
                return false;
            });


            $('#confirmDeleteGroup').on('click', function(){
                var groupId = $('#groupId').val();
                var newRoleId = $('#newRole').val();

                if (newRoleId == '-1'){
                    toastr["error"]("Пожалуйста выберите альтернативную группу", "Ошибка");
                } else {
                    postAjaxRequest('/admin/ajax/userGroup/delete',
                                    {
                                        id: groupId,
                                        newRoleId: newRoleId,
                                        'fromEditAction': true
                                    },
                                    function(data){
                                                $('#cancelDeleteGroup').click();
                                            },
                                    function(data){
                                                $('#cancelDeleteGroup').click();
                                            }
                    );
                }

                return false;
            });

        });
    </script>
{% endblock %}
