{% block title %}
Все курсы валюты
{% endblock %}

{% extends "Admin/base.html" %}

{% block headers %}
<!-- nothing to write to headers -->
{% endblock %}

{% block content %}
<div class="page-inner">
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Все курсы валюты</h4>
                        <div class="panel-control">
                            <button type="link" data-href="/admin/currencies/add" class="btn btn-success btn-addon m-b-sm btn-sm"><i class="fa fa-plus"></i> Добавить</button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <menu id="nestable-menu" class="no-m no-p m-b-sm">
                            <button type="link" class="btn btn-primary" data-href="/admin/currencies/rates/add">Ввести курс валюты</button>
                        </menu>
                        <div class="table-responsive">
                            <table class="table table-hover" id="list">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>От</th>
                                    <th>К</th>
                                    <th>Значение</th>
                                    <th class="table-date-row">Дата</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include("Admin/copyrightFooter.html") }}
</div>
{% endblock %}


{% block endBodies %}
<!-- Scripts are shown there-->
<script src="/static/admin/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<link href="/static/admin/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css"/>


<style>
    th.normal_font {
        font-weight: normal;
        padding-left: 10px;
    }
    i.silver {
        color: #bfbcbc;
        font-size: 11px;
    }
    .select2-results__option--highlighted table tr th i.silver {
        color: #fff;
    }
    .customsize {
        min-height: 36px;
    }
    .select2-search__field {
        width: 100%!important;
    }
    #toast-container > div:hover{
        opacity: 1;
        box-shadow: 0px 0px 14px 0px #000;
        cursor: pointer;
    }
</style>
<script src="/static/admin/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="/static/admin/assets/plugins/summernote/summernote.min.js"></script>
<script src="/static/admin/assets/js/pages/form-elements.js"></script>

<link href="/static/admin/assets/plugins/slidepushmenus/css/component.css" rel="stylesheet" type="text/css"/>
<link href="/static/admin/assets/plugins/summernote/summernote.css" rel="stylesheet" type="text/css"/>
<link href="/static/admin/assets/plugins/bootstrap-colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css"/>
<!--<script src="/static/admin/assets/js/pages/form-select2.js"></script>-->
<script src="/static/admin/assets/plugins/select2/js/select2.js"></script>
<link href="/static/admin/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
<script src="/static/admin/assets/js/pages/notifications.js"></script>
<script src="/static/admin/assets/plugins/moment/moment.js"></script>

<script type="text/javascript">


    $(document).ready(function() {

        paginationRequest(  '/admin/ajax/currency/rate/paginate',
            '#list',
            function(data){
                result = '';
                data.data.forEach(function(rate) {
                    result += '<tr data-id="' + rate.id + '"><td>' + rate.id + '</td> <td>' + rate.defaultCurrency['name'] + '</td><td>' + rate.toCurrency['name'] + '</td><td>' + rate.value + '</td><td>' + rate.createdAt + '</td>  </tr>';
                });
                return result;
            }
        );
    });
</script>
{% endblock %}
