{% set page = 'message' %}


{% block title %}
{{ body.code }} - {{ body.title }}
{% endblock %}

{% set titleEndPostfix = ' | «IT-Academy»' %}


{% extends "Front/base.html" %} {% block headers %}
<!-- nothing to write to headers -->
{% endblock %}

{% block content %}

<!--/.navbar-->
<div class="dark hero fullscreen-hero" data-jarallax='{"speed": 0.4}' style='background-image: url("/static/front/assets/images/pages/oops.jpg")'>
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 text-center mr-auto ml-auto text-white">
                <h2 class="display-4 mb-3">{{ body.code }}</h2>
                <div class="error-page-title">
                    {{ body.title }}
                </div>
                <p class="lead text-muted text-white">
                    {{ body.description }}
                </p>
                <div class="pt-3">
                    <a href="/" class="btn btn-outline-white btn-rounded mr-3 mb-2" data-toggle="modal" data-target=".bd-example-modal-lg">Главная страница</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %} {% block endBodies %}

{% endblock %}
