{% set page = 'staticPage' %}

{% block metaInit %}
{{ meta.setDescription(staticPage.getMetaDescription()) }}
{{ meta.setKeywords(staticPage.getMetaKeywords()) }}
{% endblock %}

{% block title %}
{{ staticPage.getTitle() }}
{% endblock %}

{% extends "Front/base.html" %}
{% block headers %}
<!-- nothing to write to headers -->
{% endblock %}

{% block content %}

<!--/.navbar-->
<div class="static-page-header page-header" data-jarallax='{"speed": 0.4}' style='background-image: url("{{ staticPage.getCover()['normal'] }}")'>
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row row align-items-center">
            <div class="col-lg-7 text-left mr-auto text-white">
                <h2 class="display-4 mb-3 text-white">{{ staticPage.getTitle() }}</h2>
                <p class="text-muted">{{ staticPage.getNotes() }}</p>

            </div>
            <div class="col-md-5">
                {{ include("Front/breadcrumb.html") }}
            </div>
        </div>
    </div>
    <svg class="svg-abs svg-f-btm z-index-9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 123" enable-background="new 0 0 1920 123" xml:space="preserve">
            <polygon class="svg-white" opacity="1" points="0,123 1920,123 1920,0 "></polygon>
          </svg>
</div>
<!--Page header end-->



<div class="container pt100 pb70 static-page-container">
    <div class="row static-page-container">
        {% if project.getLogoName() != null %}
            <img src="{{ project.getLogo()['normal'] }}" alt="Проект {{ project.getName() }}" class="vacancy-logo mb10">
        {% endif %}

        {{ staticPage.getContent()|raw }}
    </div>

</div>

{% endblock %}

{% block endBodies %}

{% endblock %}
