{% block title %}
Все проекты
{% endblock %}

{% extends "Admin/base.html" %}

{% block headers %}
<!-- nothing to write to headers -->
{% endblock %}

{% block content %}
<div class="page-inner">
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Все проекты</h4>
                        <div class="panel-control">
                            <button type="link" data-href="/admin/projects/add" class="btn btn-success btn-addon m-b-sm btn-sm"><i class="fa fa-plus"></i> Добавить</button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover" id="list">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Логотип</th>
                                    <th>Название</th>
                                    <th>Контекст</th>
                                    <th class="actions">Действие</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="deleteProjectModal" tabindex="-1" role="dialog" aria-labelledby="deleteProjectModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="deleteProjectModalLabel">Удаление</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <p>
                                                После проведенного действия назад невозможно возвратиться!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="cancelDeleteAccount" class="btn btn-default" data-dismiss="modal">Отменить</button>
                                        <button type="button" id="confirmDeleteAccount" projectid="none" class="btn btn-danger">Удалить</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include("Admin/copyrightFooter.html") }}
</div>
{% endblock %}


{% block endBodies %}
<!-- Scripts are shown there-->
<script src="/static/admin/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<link href="/static/admin/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css"/>


<style>
    th.normal_font {
        font-weight: normal;
        padding-left: 10px;
    }
    i.silver {
        color: #bfbcbc;
        font-size: 11px;
    }
    .select2-results__option--highlighted table tr th i.silver {
        color: #fff;
    }
    .customsize {
        min-height: 36px;
    }
    .select2-search__field {
        width: 100%!important;
    }
    #toast-container > div:hover{
        opacity: 1;
        box-shadow: 0px 0px 14px 0px #000;
        cursor: pointer;
    }
</style>
<script src="/static/admin/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="/static/admin/assets/plugins/summernote/summernote.min.js"></script>
<script src="/static/admin/assets/js/pages/form-elements.js"></script>

<link href="/static/admin/assets/plugins/slidepushmenus/css/component.css" rel="stylesheet" type="text/css"/>
<link href="/static/admin/assets/plugins/summernote/summernote.css" rel="stylesheet" type="text/css"/>
<link href="/static/admin/assets/plugins/bootstrap-colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css"/>
<!--<script src="/static/admin/assets/js/pages/form-select2.js"></script>-->
<script src="/static/admin/assets/plugins/select2/js/select2.js"></script>
<link href="/static/admin/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
<script src="/static/admin/assets/js/pages/notifications.js"></script>

<script type="text/javascript">

    //needs to fix bug
    var all_ = true;
    // end
    $(document).ready(function() {
        $(document).on('click', '.projectDelete', function(){
            var projectId = $(this).attr('projectid');
            $('#confirmDeleteAccount').attr('projectid', projectId);
        });

        $('#confirmDeleteAccount').on('click', function(){
            var projectId = $(this).attr('projectid');
            if (projectId == 'none') {
                toastr["error"]("Неверный ID пользователя", "Ошибка");
            } else {

                postAjaxRequest('/admin/ajax/project/delete',
                    {
                        id: projectId
                    },
                    function(data){
                        $('#cancelDeleteAccount').click();
                        $("tr[data-id=" + projectId + "]").css("background-color","red").css("color","white").fadeOut(400, function(){
                            $(this).remove();
                        });
                    },
                    function(data){
                        $('#cancelDeleteAccount').click();
                    }
                );
            }
            return false;
        });
        paginationRequest(  '/admin/ajax/project/paginate',
            '#list',
            function(data){
                result = '';
                data.data.forEach(function(project) {
                    result += '<tr data-id="' + project.id + '"><th scope="row">' + project.id + '</th> <td><img src="' + project.logo['thumb'] + '" class="img-circle small-img" alt="Фото" /></td> <td>' + project.name + '</td>  <td>' + ((project.context != null) ? ((project.context.length > 100) ? (project.context.substring(0, 100 - '...'.length) + '...') : project.context) : '-') + '</td>  <td><div class="btn-group m-b-sm"> <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Действие <span class="caret"></span> </button> <ul class="dropdown-menu dropdown-menu-right" role="menu"> <li><a href="/admin/projects/' + project.id + '/edit">Изменить</a></li> <li><a href="#" data-toggle="modal" data-target="#deleteProjectModal" class="projectDelete" projectid="' + project.id + '">Удалить</a></li> </ul> </div></td> </tr>';
                });
                return result;
            }
        );
    });
</script>
{% endblock %}
