{% set page = 'dashboard' %}
{% block title %}
Информационная панель
{% endblock %}

{% set titleEndPostfix = ' - «IT-Academy.kg» | Панель управления' %}

{% extends "Admin/base.html" %}
{% block headers %}
<!-- nothing to write to headers -->
{% endblock %}

{% block content %}
<div class="page-inner">
    <div id="main-wrapper">

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Предстоящие задачи</h3>
                        <a href="#" class="btn btn-danger" id="add-task" style="float: right;">+</a>
                    </div>
                    <div class="panel-body" style="padding-top: 20px;">
                        <ul id="sortable" style="list-style: none; margin: 0px; padding: 0px;">
                            <li class="ui-state-default draggable bg-white w-100" style="border-bottom: 1px solid #d4d4d4; padding: 10px 5px 5px 5px; border-top: 3px solid #ff0000; margin: 5px; box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1); z-index: 2;">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h4 class="font-weight-bold">Card title</h4>
                                        <p>Card description</p>
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <span class="small text-muted">12.12.19</span>
                                        <span class="small text-muted">12:00</span>
                                    </div>
                                </div>
                            </li>
                            <li class="ui-state-default draggable bg-white w-100" style="border-bottom: 1px solid #d4d4d4; padding: 10px 5px 5px 5px; border-top: 3px solid #00ff00; margin: 5px; box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1); z-index: 2;">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h4 class="font-weight-bold">Card title</h4>
                                        <p>Card description</p>
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <span class="small text-muted">12.12.19</span>
                                        <span class="small text-muted">12:00</span>
                                    </div>
                                </div>
                            </li>
                            <li class="ui-state-default draggable bg-white w-100" style="border-bottom: 1px solid #d4d4d4; padding: 10px 5px 5px 5px; border-top: 3px solid #0000ff; margin: 5px; box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1); z-index: 2;">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h4 class="font-weight-bold">Card title</h4>
                                        <p>Card description</p>
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <span class="small text-muted">12.12.19</span>
                                        <span class="small text-muted">12:00</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Сделанные задачи</h3>
                    </div>
                    <div class="panel-body" style="padding-top: 20px;">
                        <ul id="sortable2" style="list-style: none; margin: 0px; padding: 0px;">
                            <li class="ui-state-default bg-white w-100" style="border-bottom: 1px solid #d4d4d4; padding: 10px 5px 5px 5px; border-top: 3px solid #ff0000; margin: 5px; box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h4 class="font-weight-bold">Card title</h4>
                                        <p>Card description</p>
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <span class="small text-muted">12.12.19</span>
                                        <span class="small text-muted">12:00</span>
                                    </div>
                                </div>
                            </li>
                            <li class="ui-state-default bg-white w-100" style="border-bottom: 1px solid #d4d4d4; padding: 10px 5px 5px 5px; border-top: 3px solid #00ff00; margin: 5px; box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h4 class="font-weight-bold">Card title</h4>
                                        <p>Card description</p>
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <span class="small text-muted">12.12.19</span>
                                        <span class="small text-muted">12:00</span>
                                    </div>
                                </div>
                            </li>
                            <li class="ui-state-default bg-white w-100" style="border-bottom: 1px solid #d4d4d4; padding: 10px 5px 5px 5px; border-top: 3px solid #0000ff; margin: 5px; box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h4 class="font-weight-bold">Card title</h4>
                                        <p>Card description</p>
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <span class="small text-muted">12.12.19</span>
                                        <span class="small text-muted">12:00</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- Row -->
    </div>
    {{ include("Admin/copyrightFooter.html") }}
</div>
{{ include("Admin/Dashboard/modals/addTask.html") }}
{{ include("Admin/Dashboard/modals/editTask.html") }}
{% endblock %}

{% block endBodies %}
<!-- Scripts are shown there-->

<script>
    $.ajax({
        url: '/admin/ajax/task/list',
        success: data => {
            console.log(data);
        },
        error: () => {
            console.log('error');
        }
    });

    $('#add-task').click(e => {
        e.preventDefault();

        $('#addTaskModal').modal('show');
    });

    $('#confirmAddTask').click(e => {
        e.preventDefault();

        let btn = $(e.currentTarget);
        let formData = new FormData();

        let title = $('#titleAddTask').val();
        let dateend = $('#dateendAddTask').val();
        let description = $('#descriptionAddTask').val();
        let done = $('#done').val();

        formData.append('title', title);
        formData.append('description', description);
        formData.append('dateend', dateend);
        formData.append('done', done);
        
        $.ajax({
            url: '/admin/ajax/task/add',
            data: formData,
            method: "POST",
            success: data => {
                console.log(data);
            },
            error: () => {
                console.log('error');
            }
        });
    });
</script>
<script>
    $( function() {
        $( "#sortable" ).sortable({
            revert: true
        });
        $( "#sortable2" ).sortable({
            revert: true
        });
        $( ".draggable" ).draggable({
            connectToSortable: "#sortable2",
            revert: "invalid"
        });
        $( "ul, li" ).disableSelection();
    } );
</script>
{% endblock %}
