{% set page = 'dashboard' %}
{% block title %}
Информационная панель
{% endblock %}

{% set titleEndPostfix = ' - «IT-Academy.kg» | Панель управления' %}

{% extends "Admin/base.html" %}
{% block headers %}
<!-- nothing to write to headers -->
<link rel="stylesheet" href="/static/admin/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block content %}
<div class="page-inner">
    <div id="main-wrapper">

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Предстоящие задачи</h3>
                        <a href="#" class="btn btn-danger" id="add-task" style="float: right;">+</a>
                    </div>
                    <div class="panel-body" style="padding-top: 20px;">
                        <ul id="sortable" class="sortable-lists" style="min-height: 550px; overflow-y: auto; overflow-x: hidden; list-style: none; margin: 0px; padding: 0px;">

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Сделанные задачи</h3>
                    </div>
                    <div class="panel-body" style="padding-top: 20px;">
                        <ul id="sortable2" class="sortable-lists" style="min-height: 550px; overflow-y: auto; overflow-x: hidden; list-style: none; margin: 0px; padding: 0px;">

                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- Row -->
    </div>
    {{ include("Admin/copyrightFooter.html") }}
</div>
{{ include("Admin/Dashboard/modals/addTask.html") }}
{{ include("Admin/Dashboard/modals/editTask.html") }}
{% endblock %}

{% block endBodies %}
<!-- Scripts are shown there-->

<script src="/static/admin/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script>
    $('#dateendAddTask').datetimepicker({
        format: 'YYYY-MM-DD',
        minDate: new Date()
    });
</script>
<script>
    $.ajax({
        url: '/admin/ajax/task/list',
        success: data => {
            let sortable = $('#sortable');
            let sortableDone = $('#sortable2');
            console.log(data);
            if (data.data.tasks) {
                for (let [i, v] of data.data.tasks.entries()) {
                    let date = new Date(v.dateend);
                    console.log(date);
                    let card = $('<li class="ui-state-default draggable bg-white w-100" style="border-bottom: 1px solid #d4d4d4; padding: 10px 5px 5px 5px; border-top: 3px solid #ff0000; margin: 5px; box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1); z-index: 2;">\n' +
                        '                                <div class="row">\n' +
                        '                                    <div class="col-md-9">\n' +
                        '                                        <h4 class="title font-weight-bold">' + v.title + '</h4>\n' +
                        '                                        <p class="description">' + v.description + '</p>\n' +
                        '                                    </div>\n' +
                        '                                    <div class="col-md-3 text-right">\n' +
                        '                                        <span class="small text-muted">' + date.getDate() + '/' + (date.getMonth() < 10 ? '0' + date.getMonth() : date.getMonth()) + '/' + date.getFullYear() + '</span>\n' +
                        '                                        <p>\n' +
                        '                                            <a href="#" class="edit-task" data-id="' + v.id + '">\n' +
                        '                                                <i class="fa fa-edit text-primary"></i>\n' +
                        '                                            </a>\n' +
                        '                                            <a href="#" class="delete-task" data-id="' + v.id + '">\n' +
                        '                                                <i class="fa fa-trash text-danger"></i>\n' +
                        '                                            </a>\n' +
                        '                                        </p>\n' +
                        '                                    </div>\n' +
                        '                                </div>\n' +
                        '                            </li>');
                    sortable.append(card);
                    registerDraggable(card);
                }
            }
            if (data.data.tasksEnded) {
                for (let [i, v] of data.data.tasksEnded.entries()) {
                    let date = new Date(v.dateend);
                    let card = $('<li class="ui-state-default draggable bg-white w-100" style="border-bottom: 1px solid #d4d4d4; padding: 10px 5px 5px 5px; border-top: 3px solid #ff0000; margin: 5px; box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1); z-index: 2;">\n' +
                        '                                <div class="row">\n' +
                        '                                    <div class="col-md-9">\n' +
                        '                                        <h4 class="title font-weight-bold">' + v.title + '</h4>\n' +
                        '                                        <p class="description">' + v.description + '</p>\n' +
                        '                                    </div>\n' +
                        '                                    <div class="col-md-3 text-right">\n' +
                        '                                        <span class="small text-muted">' + date.getDate() + '/' + (date.getMonth() < 10 ? '0' + date.getMonth() : date.getMonth()) + '/' + date.getFullYear() + '</span>\n' +
                        '                                        <p>\n' +
                        '                                            <a href="#" class="edit-task" data-id="' + v.id + '">\n' +
                        '                                                <i class="fa fa-edit text-primary"></i>\n' +
                        '                                            </a>\n' +
                        '                                            <a href="#" class="delete-task" data-id="' + v.id + '">\n' +
                        '                                                <i class="fa fa-trash text-danger"></i>\n' +
                        '                                            </a>\n' +
                        '                                        </p>\n' +
                        '                                    </div>\n' +
                        '                                </div>\n' +
                        '                            </li>');
                    sortableDone.append(card);
                    registerDraggable(card);
                }
            }
            sortable.find('.delete-task').each((i, v) => {
                registerDeleteBtn($(v));
            });
            sortableDone.find('.delete-task').each((i, v) => {
                registerDeleteBtn($(v));
            });
        },
        error: () => {
            console.log('error');
        }
    });

    $('#add-task').click(e => {
        e.preventDefault();

        $('#addTaskModal').modal('show');
    });

    $('#confirmAddTask').click(e => {
        e.preventDefault();

        $('#addTaskModal').modal('hide');

        let btn = $(e.currentTarget);

        let title = $('#titleAddTask').val();
        $('#titleAddTask').val('');
        let dateend = $('#dateendAddTask').val();
        $('#dateendAddTask').val('');
        let description = $('#descriptionAddTask').val();
        $('#descriptionAddTask').val('');
        let formData = new FormData();

        formData.append('title', title);
        formData.append('description', description);
        formData.append('dateend', dateend);
        formData.append('done', false);
        
        ajaxRequest('/admin/ajax/task/add',
            formData,
            data => {
                let date = new Date(data.data.Dateend);
                let card = $('<li class="ui-state-default draggable bg-white w-100" style="border-bottom: 1px solid #d4d4d4; padding: 10px 5px 5px 5px; border-top: 3px solid #ff0000; margin: 5px; box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1); z-index: 2;">\n' +
                    '                                <div class="row">\n' +
                    '                                    <div class="col-md-9">\n' +
                    '                                        <h4 class="title font-weight-bold">' + data.data.Title + '</h4>\n' +
                    '                                        <p class="description">' + data.data.Description + '</p>\n' +
                    '                                    </div>\n' +
                    '                                    <div class="col-md-3 text-right">\n' +
                    '                                        <span class="small text-muted">' + date.getDate() + '/' + (date.getMonth() < 10 ? '0' + date.getMonth() : date.getMonth()) + '/' + date.getFullYear() + '</span>\n' +
                    '                                        <p>\n' +
                    '                                            <a href="#" class="edit-task" data-id="' + data.data.Id + '">\n' +
                    '                                                <i class="fa fa-edit text-primary"></i>\n' +
                    '                                            </a>\n' +
                    '                                            <a href="#" class="delete-task" data-id="' + data.data.Id + '">\n' +
                    '                                                <i class="fa fa-trash text-danger"></i>\n' +
                    '                                            </a>\n' +
                    '                                        </p>\n' +
                    '                                    </div>\n' +
                    '                                </div>\n' +
                    '                            </li>');

                let result = $('#sortable').append(card);
                registerDraggable(card);
                card.find('.delete-task').each((i, v) => {
                    registerDeleteBtn($(v));
                })
            }
        );
    });

    function registerDeleteBtn(item) {
        item.click(e => {
            e.preventDefault();
            let btn = $(e.currentTarget);
            let id = btn.data('id');
            let card = btn.parents('li.ui-state-default');

            let formData = new FormData();
            formData.append('id', id);

            ajaxRequest('/admin/ajax/task/delete',
                formData,
                data => {
                }
            );

            card.hide('slow', function(){ card.remove(); });
        });
    }

    function registerEditBtn(item) {
        item.click(e => {
            e.preventDefault();
            let btn = $(e.currentTarget);
            let id = btn.data('id');
            let card = btn.parents('li.ui-state-default');

            let title = card.find('.title');
            let description = card.find('.description');

            let formData = new FormData();
            formData.append('id', id);

            ajaxRequest('/admin/ajax/task/delete',
                formData,
                data => {
                }
            );

            card.hide('slow', function(){ card.remove(); });
        });
    }
    $( "#sortable" ).sortable({
        revert: true
    });
    $( "#sortable2" ).sortable({
        revert: true
    });
    function registerDraggable(item) {
        item.draggable({
            connectToSortable: "#sortable2, #sortable",
            revert: "invalid",
            stop: (e, ui) => {
                console.log($(e.target).parents('.sortable-lists'), ui);
            }
        });
    }
    $( "ul, li" ).disableSelection();
</script>
{% endblock %}
