{% block title %}
Добавление потока курса
{% endblock %}

{% extends "Admin/base.html" %}

{% block headers %}
<!-- nothing to write to headers -->
{% endblock %}

{% block content %}
<div class="page-inner">
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Добавление студента к потоку курса</h4>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" id="addCourseSkill">
                            <input type="hidden" name="userId" id="userId" value="{{ student.getId() }}">
                            <div class="form-group">
                                <label for="course" class="col-sm-2 control-label">Курс</label>
                                <div class="col-sm-10">
                                    <select name="courseId" id="course" class="form-control" required>
                                        <option value="{{ null }}">Выберите курс...</option>
                                        {% for course in courses %}
                                            <option value="{{ course.getId() }}">{{ course.getName() }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="stream" class="col-sm-2 control-label">Поток</label>
                                <div class="col-sm-10">
                                    <select name="streamId" id="stream" class="form-control" disabled required>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="notes" class="col-sm-2 control-label">Примечание</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="notes" name="notes" placeholder="Примечание"></textarea>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="email" id="email" placeholder="Email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="status" class="col-sm-2 control-label">Статус</label>
                                <div class="col-sm-10">
                                    <div class="ios-switch pull-right switch-md">
                                        <input type="checkbox" id="status" name="status" class="js-switch pull-right fixed-header-check">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Группа</label>
                                <div class="col-sm-10">
                                    <select name="roles" id="roles" class="form-control m-b-sm">
                                        {% for group in groups %}
                                        <option value="{{ group.getId() }}" {% if group.getAltName() == 'client' %} selected {% endif %}>{{ group.getName() }} ({{ group.getAltName() }})</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="userName" class="col-sm-2 control-label">Логин</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="userName" id="userName" placeholder="Логин">
                                    <p class="help-block">Можно оставить пустым </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">Имя</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Имя" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="phone" class="col-sm-2 control-label">Телефон</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="phone" id="phone" placeholder="+996XXXYYYYYY">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="birthDate" class="col-sm-2 control-label">Дата рождения:</label>
                                <div class="col-sm-10">
                                    <input type="text" autocomplete="off" class="form-control"  name="birthDate" id="birthDate" placeholder="Дата Рождения" >
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Обо мне</label>
                                <div class="col-sm-10">
                                    <div class="summernote"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="address" class="col-sm-2 control-label">Адрес</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="address" id="address" placeholder="Адрес"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-2 control-label">Пароль</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Пароль" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword" class="col-sm-2 control-label">Подтверждение пароля</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Подтверждение пароля" required>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="serial" class="col-sm-2 control-label">Серийный номер паспорта</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="serial" id="serial" placeholder="Серийный номер паспорта" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inn" class="col-sm-2 control-label">ИНН</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="inn" id="inn" placeholder="ИНН" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="startDate" class="col-sm-2 control-label">Дата выдачи</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="startDate" id="startDate" placeholder="Дата выдачи" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="operator" class="col-sm-2 control-label">Кем выдан паспорт</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="operator" id="operator" placeholder="Кем выдан паспорт" required>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Создать</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include("Admin/copyrightFooter.html") }}
</div>
{% endblock %}


{% block endBodies %}
<link href="/static/admin/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css"/>
<script src="/static/admin/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

<style>
    th.normal_font {
        font-weight: normal;
        padding-left: 10px;
    }
    i.silver {
        color: #bfbcbc;
        font-size: 11px;
    }
    .select2-results__option--highlighted table tr th i.silver {
        color: #fff;
    }
    .customsize {
        min-height: 36px;
    }
    .select2-search__field {
        width: 100%!important;
    }
    #toast-container > div:hover{
        opacity: 1;
        box-shadow: 0px 0px 14px 0px #000;
        cursor: pointer;
    }
</style>
<script src="/static/admin/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="/static/admin/assets/plugins/summernote/summernote.min.js"></script>
<script src="/static/admin/assets/js/pages/form-elements.js"></script>

<link href="/static/admin/assets/plugins/slidepushmenus/css/component.css" rel="stylesheet" type="text/css"/>
<link href="/static/admin/assets/plugins/summernote/summernote.css" rel="stylesheet" type="text/css"/>

<!--<script src="/static/admin/assets/js/pages/form-select2.js"></script>-->
<script src="/static/admin/assets/plugins/select2/js/select2.js"></script>
<link href="/static/admin/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
<script src="/static/admin/assets/js/pages/notifications.js"></script>

<script>
    let birthDate = $('#birthDate');
    birthDate.datetimepicker({
        format: 'YYYY-MM-DD',
        viewMode: 'years',
        maxDate: new Date(),
        date: null,
    });
    let startDate = $('#startDate');
    startDate.datetimepicker({
        format: 'YYYY-MM-DD',
        viewMode: 'years',
        maxDate: new Date(),
        date: null,
    });

    $('#course').change(e => {
        e.preventDefault();
        let select = $(e.target);
        let id = select.val();
        let streamSelect = $('#stream');

        $.ajax({
            url: "/admin/ajax/course/stream/byCourse",
            method: "POST",
            data: {
                'courseId': id
            },
            success: data => {
                console.log(data);
                streamSelect.empty();
                streamSelect.removeAttr('disabled');
                for (let item of data.data) {
                    streamSelect.append('<option value="'+ item.id +'">' + item.name + '</option>');
                }
            },
            error: () => {
                streamSelect.empty();
                streamSelect.attr('disabled', true);
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {

        let defaultDate = new Date()
        $('#startsAt').datetimepicker({
            format: 'YYYY-MM-DD',
            date: new Date(),
        });
        defaultDate.setMonth((new Date()).getMonth() + 1);
        $('#endsAt').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            format: 'YYYY-MM-DD',
            date: defaultDate
        });
        $("#startsAt").on("dp.change", function (e) {
            $('#endsAt').data("DateTimePicker").minDate(e.date);
        });
        $("#endsAt").on("dp.change", function (e) {
            $('#startsAt').data("DateTimePicker").maxDate(e.date);
        });


        $('.summernote').summernote({
            lang: 'ru-RU',
            height: 200,   //set editable area's height
            disableDragAndDrop: true,
            callbacks:{
                onImageUpload: function(files, editor, $editable)
                {
                    //sendFile_(files[0],editor,$editable);
                },
                onMediaDelete: function(files, editor, welEditable)
                {
                    /*
                    var imageUrl = $(files[0]).attr('src');
                    var image = imageUrl.split('/');
                    console.log(image[4]);
                    */
                }
            }
        });

        $('#addCourseSkill').on('submit', function(){
            let streamId = $('#stream').val();
            let serial = $('#serial').val();
            let inn = $('#inn').val();
            let operator = $('#operator').val();
            let startDate = $('#startDate').val();
            let name = $('#name').val();
            let email = $('#email').val();
            let activated = $('#status').is(":checked")?'true':'false';
            let userName = $('#userName').val();
            let phone = $('#phone').val();
            let birthDate = $('#birthDate').val();
            let address = $('#address').val();
            let password = $('#password').val();
            let confirmPassword = $('#confirmPassword').val();
            let about = $('.summernote').summernote('code');
            let groupId = $('#roles').val();

            let formData = new FormData();
            formData.append('streamId', streamId);
            formData.append('serial', serial);
            formData.append('inn', inn);
            formData.append('operator', operator);
            formData.append('startDate', startDate);
            formData.append('name', name);
            formData.append('email', email);
            formData.append('activated', activated);
            formData.append('userName', userName);
            formData.append('phone', phone);
            formData.append('birthDate', birthDate);
            formData.append('address', address);
            formData.append('password', password);
            formData.append('confirmPassword', confirmPassword);
            formData.append('about', about);
            formData.append('groupId', groupId);

            ajaxRequest('/admin/ajax/stream/student/add',
                formData
            );

            return false;
        });

    });
</script>
{% endblock %}
