{% block title %}
    Добавление нового пользователя
{% endblock %}

{% extends "Admin/base.html" %}

{% block headers %}
<!-- nothing to write to headers -->
{% endblock %}

{% block content %}
<div class="page-inner">
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Добавление пользователя</h4>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" id="addUser">

                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="email" id="email" placeholder="Email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="status" class="col-sm-2 control-label">Статус</label>
                                <div class="col-sm-10">
                                    <div class="ios-switch pull-right switch-md">
                                        <input type="checkbox" id="status" name="status" class="js-switch pull-right fixed-header-check">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Группа</label>
                                <div class="col-sm-10">
                                    <select name="roles" class="form-control m-b-sm">
                                        {% for group in groups %}
                                            <option value="{{ group.getId() }}" {% if group.getAltName() == 'client' %} selected {% endif %}>{{ group.getName() }} ({{ group.getAltName() }})</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="userName" class="col-sm-2 control-label">Логин</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="userName" id="userName" placeholder="Логин">
                                    <p class="help-block">Можно оставить пустым </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">Имя</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Имя" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="phone" class="col-sm-2 control-label">Телефон</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="phone" id="phone" placeholder="+996XXXYYYYYY">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="birthDate" class="col-sm-2 control-label">Дата рождения:</label>
                                <div class="col-sm-10">
                                    <input type="text" autocomplete="off" class="form-control"  name="birthDate" id="birthDate" placeholder="Дата Рождения" >
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Обо мне</label>
                                <div class="col-sm-10">
                                    <div class="summernote"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="address" class="col-sm-2 control-label">Адрес</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="address" id="address" placeholder="Адрес"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-2 control-label">Пароль</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Пароль" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword" class="col-sm-2 control-label">Подтверждение пароля</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Подтверждение пароля" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Создать пользователя</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include("Admin/copyrightFooter.html") }}
</div>
{% endblock %}


{% block endBodies %}
    <link href="/static/admin/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css"/>
    <script src="/static/admin/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/admin/assets/plugins/summernote/summernote.min.js"></script>
    <link href="/static/admin/assets/plugins/summernote/summernote.css" rel="stylesheet" type="text/css"/>

    <style>
        th.normal_font {
            font-weight: normal;
            padding-left: 10px;
        }
        i.silver {
            color: #bfbcbc;
            font-size: 11px;
        }
        .select2-results__option--highlighted table tr th i.silver {
            color: #fff;
        }
        .customsize {
            min-height: 36px;
        }
        .select2-search__field {
            width: 100%!important;
        }
        #toast-container > div:hover{
            opacity: 1;
            box-shadow: 0px 0px 14px 0px #000;
            cursor: pointer;
        }
    </style>
    <script src="/static/admin/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="/static/admin/assets/plugins/summernote/summernote.min.js"></script>
    <script src="/static/admin/assets/js/pages/form-elements.js"></script>

    <link href="/static/admin/assets/plugins/slidepushmenus/css/component.css" rel="stylesheet" type="text/css"/>
    <link href="/static/admin/assets/plugins/summernote/summernote.css" rel="stylesheet" type="text/css"/>
    <link href="/static/admin/assets/plugins/bootstrap-colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css"/>
    <!--<script src="/static/admin/assets/js/pages/form-select2.js"></script>-->
    <script src="/static/admin/assets/plugins/select2/js/select2.js"></script>
    <link href="/static/admin/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
    <script src="/static/admin/assets/js/pages/notifications.js"></script>
    <link href="/static/admin/assets/plugins/toastr/toastr.min.css" rel="stylesheet"/>
    <script src="/static/admin/assets/plugins/toastr/toastr.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            $('.summernote').summernote({
                lang: 'ru-RU',
                height: 200,   //set editable area's height
                disableDragAndDrop: true,
                callbacks:{
                    onImageUpload: function(files, editor, $editable)
                    {
                        //sendFile_(files[0],editor,$editable);
                    },
                    onMediaDelete: function(files, editor, welEditable)
                    {
                        /*
                        var imageUrl = $(files[0]).attr('src');
                        var image = imageUrl.split('/');
                        console.log(image[4]);
                        */
                    }
                }
            });

            let birthDate = $('#birthDate');
            birthDate.datetimepicker({
                format: 'YYYY-MM-DD',
                viewMode: 'years',
                maxDate: new Date(),
                date: null,
            });


            $('#addUser').on('submit', function(){

                var email = $('#email').val();
                var activated = $('#status').is(":checked")?'true':'false';
                var groupId = $('select[name=roles] :selected').val();
                var userName = $('input[name=userName]').val();
                var name = $('input[name=name]').val();
                var phone = $('input[name=phone]').val();
                var address = $('textarea[name=address]').val();
                var password = $('input[name=password]').val();
                var confirmPassword = $('input[name=confirmPassword]').val();
                var birthDate = $('[name=birthDate]').val();
                var currencyId = $('select[name=currency]').val();
                var about = $('.summernote').summernote('code');

                postAjaxRequest('/admin/ajax/user/add',
                        {
                            email: email,
                            activated: activated,
                            groupId: groupId,
                            userName: userName,
                            name: name,
                            phone: phone,
                            address: address,
                            birthDate: birthDate,
                            currencyId: currencyId,
                            password: password,
                            confirmPassword: confirmPassword,
                            about: about
                        }
                );

                return false;
            });

        });
    </script>
{% endblock %}
