{% set page = 'dashboard' %}
{% block title %}
Информационная панель
{% endblock %}

{% set titleEndPostfix = ' - «IT-Academy.kg» | Панель управления' %}

{% extends "Admin/base.html" %}
{% block headers %}
<!-- nothing to write to headers -->
<link rel="stylesheet" href="/static/admin/assets/plugins/fullcalendar/fullcalendar.min.css">
{% endblock %}

{% block content %}
<div class="page-inner">
    <div id="main-wrapper">

        <div class="row">
            <div class="col-md-4 center">
                <div class="details">
                    <h3>Календарь расписаний</h3>
                </div>
            </div>
            <div class="col-sm-12">
                <div id="calendar"></div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="addCalendarEvent" tabindex="-1" role="dialog"
                 aria-labelledby="addCalendarEventModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="addCalendarEventModalLabel">Удаление</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="status" class="col-sm-2 control-label">Статус</label>
                                <div class="col-sm-10">
                                    <div class="ios-switch pull-right switch-md">
                                        <input type="checkbox" id="status" name="status" class="js-switch pull-right fixed-header-check">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="title" id="titleCalendarEvent">
                            </div>
                            <div class="form-group">
                                <input type="time" name="time" id="timeCalendarEvent">
                            </div>
                            <div class="form-group">
                                <input type="number" name="duration" id="durationCalendarEvent">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" id="cancelAddCalendarEvent" class="btn btn-default"
                                    data-dismiss="modal">Отменить
                            </button>
                            <button type="button" id="confirmAddCalendarEventBtn" coursestreamid="none"
                                    class="btn btn-danger">Добавить
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div><!-- Row -->
    </div>
    {{ include("Admin/copyrightFooter.html") }}
</div>
{% endblock %}

{% block endBodies %}
<!-- Scripts are shown there-->
<script src="/static/admin/assets/plugins/fullcalendar/fullcalendar.min.js"></script>
<script>
    let calendar = $('#calendar');
    calendar.fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay,listWeek'
        },
        dayClick: function(date, jsEvent, view) {
            $('#addCalendarEvent').modal('show');
            let day = $(this);

            $('#confirmAddCalendarEventBtn').off('click').on('click', function (e) {
                $('#addCalendarEvent').modal('hide');

                let title = $('#titleCalendarEvent').val();
                let time = $('#timeCalendarEvent').val();
                let duration = $('#durationCalendarEvent').val();
                let party = $('#status').is(":checked") ? true : false;

                $('#titleCalendarEvent').val('');
                $('#timeCalendarEvent').val('');
                $('#durationCalendarEvent').val('');

                // console.log(title);
                let dateTime = date.format() + 'T' + time;
                time = new Date(dateTime);

                if (party) {
                    day.css('background-color', 'red');
                }
                else if (title != null && title !== "") {
                    let event = {
                        title: title,
                        end: new Date(time.setHours(time.getHours() + parseInt(duration))),
                        start: dateTime,
                        forceEventDuration: true
                    };
                    console.log(event);
                    calendar.fullCalendar('renderEvent', event);
                }
            });


        },
        eventClick: function(calEvent, jsEvent, view) {
            // let title = prompt('Title');
            console.log(calEvent);
            // if (title != null || title != "") {
            //     calEvent.title = title;
            //
            //     calendar.fullCalendar('updateEvent', calEvent);
            // }

            // alert('Event: ' + calEvent.title);
            // alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
            // alert('View: ' + view.name);
            // $(this).css('border-color', 'red');

        },
        defaultDate: new Date(),
        navLinks: true, // can click day/week names to navigate views
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        events: [
            {
                title: 'All Day Event',
                start: '2019-07-01',
            },
            {
                title: 'Long Event',
                start: '2019-07-07',
                end: '2019-07-10'
            },
            {
                id: 999,
                title: 'Repeating Event',
                start: '2019-07-09T16:00:00'
            },
            {
                id: 999,
                title: 'Repeating Event',
                start: '2019-07-16T16:00:00'
            },
            {
                title: 'Conference',
                start: '2019-07-11',
                end: '2019-07-13'
            },
            {
                title: 'Meeting',
                start: '2019-07-12T10:30:00',
                end: '2019-07-12T12:30:00'
            },
            {
                title: 'Lunch',
                start: '2019-07-12T12:00:00'
            },
            {
                title: 'Meeting',
                start: '2019-07-12T14:30:00'
            },
            {
                title: 'Happy Hour',
                start: '2019-07-12T17:30:00'
            },
            {
                title: 'Dinner',
                start: '2019-07-12T20:00:00'
            },
            {
                title: 'Birthday Party',
                start: '2019-07-13T07:00:00'
            },
            {
                title: 'Click for Google',
                url: 'http://google.com/',
                start: '2019-07-28'
            }
        ]
    });

</script>
{% endblock %}
