{% set page = 'dashboard' %}
{% block title %}
Информационная панель
{% endblock %}

{% set titleEndPostfix = ' - «IT-Academy.kg» | Панель управления' %}

{% extends "Admin/base.html" %}
{% block headers %}
<!-- nothing to write to headers -->
<link rel="stylesheet" href="/static/admin/assets/plugins/fullcalendar/fullcalendar.min.css">
{% endblock %}

{% block content %}
<div class="page-inner">
    <div id="main-wrapper">

        <div class="row">
            <div class="col-md-4 center">
                <div class="details">
                    <h3>Календарь расписаний</h3>
                </div>
            </div>
            <div class="col-sm-12">
                <div id="calendar"></div>
            </div>


            {{ include("Admin/Calendar/modals/addEvent.html") }}
            {{ include("Admin/Calendar/modals/editEvent.html") }}


        </div><!-- Row -->
    </div>
    {{ include("Admin/copyrightFooter.html") }}
</div>
{% endblock %}

{% block endBodies %}
<!-- Scripts are shown there-->
<script src="/static/admin/assets/plugins/fullcalendar/fullcalendar.min.js"></script>
<script>
    let calendar = $('#calendar');
    calendar.fullCalendar({
        header: {
            left: '',
            right: 'prev,next today',
            center: 'title',
            // right: 'month,agendaWeek,agendaDay,listWeek'
        },
        timeFormat: 'H:mm',
        dayClick: function(date, jsEvent, view) {
            $('#addCalendarEvent').modal('show');
            let day = $(this);

            $('#confirmAddCalendarEventBtn').off('click').on('click', function (e) {
                $('#addCalendarEvent').modal('hide');

                let title = $('#titleCalendarEvent').val();
                let time = $('#timeCalendarEvent').val();
                let duration = $('#durationCalendarEvent').val();
                let party = $('#status').is(":checked") ? true : false;
                let doc = $('input[name="doc"]').get(0).files[0];

                $('#titleCalendarEvent').val('');
                $('#timeCalendarEvent').val('');
                $('#durationCalendarEvent').val('');
                // $('input[name="doc"]').get(0).val('');

                // console.log(title);
                let dateTime;
                if (time) {
                    dateTime = date.format() + 'T' + time;
                } else {
                    dateTime = date.format();
                }
                time = new Date(dateTime);

                let formData = new FormData();
                formData.append('title', title);
                formData.append('startDate', time);
                formData.append('endDate', duration);
                formData.append('allDay', party);

                if (doc != undefined){
                    formData.append('doc', doc);
                }
                ajaxRequest('/admin/ajax/lesson/add',
                    formData,
                    function(data){
                        console.log(data);
                    }
                );
                if (party) {
                    let event = {
                        allDay: true,
                        title: title,
                        start: dateTime,
                        forceEventDuration: true,
                        rendering: 'background',
                        color: '#ffff00',
                        backgroundColor: '#ff0000'
                    };
                    calendar.fullCalendar('renderEvent', event);
                    // console.log(event);
                    // day.css('background-color', 'red');
                }
                else if (title != null && title !== "") {
                    let event = {
                        title: title,
                        end: new Date(time.setHours(time.getHours() + parseInt(duration))),
                        start: dateTime,
                        forceEventDuration: true
                    };
                    calendar.fullCalendar('renderEvent', event);
                }
            });


        },
        eventClick: function(calEvent, jsEvent, view) {
            $('#editCalendarEvent').modal('show');

            console.log(calEvent);
            $('#deleteEditCalendarEvent').attr('coursestreamid', calEvent.id);
            $('#confirmEditCalendarEventBtn').attr('coursestreamid', calEvent.id);
            $('#titleEditCalendarEvent').val(calEvent.title);

            $('#confirmEditCalendarEventBtn').off('click').on('click', e => {
                $('#editCalendarEvent').modal('hide');
                let title = $('#titleEditCalendarEvent').val();
                let time = $('#timeEditCalendarEvent').val();
                let duration = $('#durationEditCalendarEvent').val();
                let party = $('#statusEditCalendarEvent').is(":checked") ? true : false;
                let doc = $('input[name="doc"]').get(0).files[0];

                $('#titleCalendarEvent').val('');
                $('#timeCalendarEvent').val('');
                $('#durationCalendarEvent').val('');
                // $('input[name="doc"]').get(0).val('');

                // console.log(title);
                let dateTime = date.format() + 'T' + time;
                time = new Date(dateTime);

                let formData = new FormData();
                formData.append('title', title);
                formData.append('startDate', time);
                formData.append('endDate', duration);
                formData.append('allDay', party);

                if (doc != undefined){
                    formData.append('doc', doc);
                }
                ajaxRequest('/admin/ajax/lesson/add',
                    formData,
                    function(data){
                        console.log(data);
                    }
                );
            });
            // let title = prompt('Title');
            // console.log(calEvent);
            // if (title != null || title != "") {
            //     calEvent.title = title;
            //
            //     calendar.fullCalendar('updateEvent', calEvent);
            // }

            // alert('Event: ' + calEvent.title);
            // alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
            // alert('View: ' + view.name);
            // $(this).css('border-color', 'red');

        },
        defaultDate: new Date(),
        navLinks: true, // can click day/week names to navigate views
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        events: function(start, end, timezone, callback) {
            $.ajax({
                url: '/admin/ajax/lesson/list',
                success: function(doc) {
                    var events = [];
                    // console.log(doc);
                    for (item of doc.data) {
                        // console.log(item);
                        if (item.allDay) {
                            events.push({
                                allDay: true,
                                title: item.title,
                                start: item.dateStart ? item.dateStart.date : null,
                                forceEventDuration: true,
                                rendering: 'background',
                                color: '#ffff00',
                                backgroundColor: '#ff0000'
                            });
                            events.push({
                                id: item.id,
                                title: item.title,
                                start: item.dateStart ? item.dateStart.date : null,
                                forceEventDuration: true,
                                color: '#ff0000',
                            });
                        } else {
                            events.push({
                                id: item.id,
                                title: item.title,
                                start: item.dateStart ? item.dateStart.date : null,
                                end: item.dateEnd ? item.dateEnd.date : null,
                                forceEventDuration: true,
                                color: '#000ff0'
                            });
                        }
                    }
                    // console.log(events);
                    // $(doc).each((index, item) => {
                    //
                    // });
                    callback(events);
                }
            });
        }
    });

    $('#deleteEditCalendarEvent').click(e => {
        let btn = $(e.currentTarget);
        let id = btn.attr('coursestreamid');
        console.log(id);
        let formData = new FormData();
        formData.append('lesson_id', id);
        ajaxRequest('/admin/ajax/lesson/delete', formData, data => {
            console.log(data);
        });
        $('#editCalendarEvent').modal('hide');
    });

</script>
{% endblock %}
